<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-img class="imageInicio" [src]="imageUrl"></ion-img>
    <ion-title #Titulo class="toolbar-title">Sistema de asistencia DuocUC</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card #homecard>
    
    <ion-item #itemCuenta>
      <ion-input [(ngModel)]="usuario.cuenta"
          label="Cuenta" labelPlacement="floating"
          placeholder="Ej: fefeuntes"></ion-input>
    </ion-item>

    <ion-item #itemNombre>
      <ion-input [(ngModel)]="usuario.nombre" 
          label="Nombre" labelPlacement="floating"
          placeholder="Ej: Felipe"></ion-input>
    </ion-item>

    <ion-item #itemApellido>
      <ion-input [(ngModel)]="usuario.apellido"
          label="Apellido" labelPlacement="floating"
          placeholder="Ej: Fuentes"></ion-input>
    </ion-item>

    <ion-item #itemEducacion class="font-size-12">
      <ion-select [(ngModel)]="usuario.nivelEducacional!.id"
          (ionChange)="actualizarNivelEducacional($event)"
          label="Educación" position="floating">
        <ion-select-option *ngFor="let nivelEducacional of listaNivelesEducacionales" 
          [value]="nivelEducacional.id">
            {{nivelEducacional.nombre}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item #itemFechaNacimiento class="ion-padding-bottom">
      <table>
        <tr>
          <td class="font-size-12" >
            Nacimiento
          </td>
          <td class="cell-align-right">
            <input
              matInput 
              [matDatepicker]="fechaNacimiento" 
              [(ngModel)]="usuario.fechaNacimiento"
              placeholder="dd/mm/yyyy"
              class="date-width">
          </td>
          <td class="cell-width-0">
            <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
            <mat-datepicker #fechaNacimiento></mat-datepicker>
          </td>
        </tr>
      </table>
    </ion-item>

    <ion-button shape="round" size="small"
        (click)="limpiarAnimando()">
      Limpiar Datos
    </ion-button>

    <ion-button shape="round" size="small"
        (click)="mostrarDatosPersona()">
      Ver datos
    </ion-button>

    </ion-card>
  </ion-card>

</ion-content>
<ion-footer>
    <ion-tab-bar slot="bottom">
      <ion-tab-button class="menu-buttom" (click)="goToInicio()">
        <ion-icon class="menu-color" name="home"></ion-icon>
        <span style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Inicio</span>
      </ion-tab-button>
      <ion-tab-button class="menu-buttom" (click)="goToMiClase()">
        <ion-icon class="menu-color" name="book"></ion-icon>
        <span style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Mi Clase</span>
      </ion-tab-button>
      <ion-tab-button class="menu-buttom-elegido" (click)="goToMisDatos()">
        <ion-icon class="menu-color" name="person"></ion-icon>
        <span style="color: white; text-shadow: 2px 2px 4px rgb(255, 253, 253);">Mis Datos</span>
      </ion-tab-button>
      <ion-tab-button class="menu-buttom" (click)="cerrarSesion()">
        <ion-icon class="menu-color" name="exit"></ion-icon>
        <span style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Cerrar Sesión</span>
      </ion-tab-button>
    </ion-tab-bar>
</ion-footer>
