<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="InicioSesion">
    <ion-card class="imageLogin2">
      <ion-img [src]="imageUrl2"></ion-img>
    </ion-card>
    <ion-list class="ListaInicioSesion">
      <span class="LoginItemTitulo">
        Ingreso su respuesta secreta incorrectamente
      </span>
      <ion-card class="imageLogin">
        <ion-img [src]="imageUrl"></ion-img>
      </ion-card>
      
      <ion-card-content>
        <ion-button (click)="VolverLogin()" fill="none">
          Volver
        </ion-button>
      </ion-card-content>
    </ion-list>
  </div>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="font-size: small;">
      © 2024 DuocUC
    </ion-title>
  </ion-toolbar>
</ion-footer>